[project]
	description = Android Platform Manifest
[receive]
	requireContributorAgreement = true
[submit]
	action = fast forward only
[access "refs/*"]
	forgeAuthor = group AOSP
	forgeCommitter = group AOSP
[access "refs/heads/*"]
	label-Code-Review = -2..+2 group Administrators
	label-Code-Review = -1..+1 group Registered Users
	label-Verified = -1..+1 group Administrators
	submit = group Administrators
	exclusiveGroupPermissions = label-Code-Review label-Verified submit
	create = group AOSP
	push = group AOSP
[access "refs/for/refs/heads/*"]
	exclusiveGroupPermissions = push pushMerge
	push = group Administrators
	push = group Android Maintainers
	pushMerge = group Administrators
	pushMerge = group Android Maintainers
[access]
	inheritFrom = Public-Projects
[access "refs/meta/config"]
	label-Code-Review = -2..+2 group AOSP
	label-Verified = -1..+1 group AOSP
	create = group AOSP
	push = group AOSP
[access "refs/heads/master-art"]
	label-Code-Review = -2..+2 group approvers-platform-art
	submit = group approvers-platform-art
	label-Verified = -1..+1 group approvers-platform-art
[access "refs/heads/master-art-host"]
	label-Code-Review = -2..+2 group approvers-platform-art
	submit = group approvers-platform-art
	label-Verified = -1..+1 group approvers-platform-art
[access "refs/heads/master-dalvik"]
	label-Code-Review = -2..+2 group approvers-platform-art
	submit = group approvers-platform-art
	label-Verified = -1..+1 group approvers-platform-art
[access "refs/heads/master-dalvik-host"]
	label-Code-Review = -2..+2 group approvers-platform-art
	submit = group approvers-platform-art
	label-Verified = -1..+1 group approvers-platform-art
[access "refs/heads/chromium-dev"]
	label-Code-Review = -2..+2 group approvers-platform-external-chromium_org
	label-Verified = -1..+1 group approvers-platform-external-chromium_org
	submit = group approvers-platform-external-chromium_org
[access "refs/heads/ub-tools-master"]
	exclusiveGroupPermissions = label-Code-Review label-Verified
	label-Code-Review = -2..+2 group Administrators
	label-Code-Review = -1..+1 group Registered Users
	label-Verified = -1..+1 group Registered Users
